body{
  margin:0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.topo_menu{
  width: 100%;
  height: 100px;
  position: relative;
  background-color: #16cfb0;
}

.main-navbar {
  background: #16cfb0 !important;
}

.navbar-user-name {
  background: #38b8a2;
  padding: 5px;
  border-radius: 2px;
}

.btn-cadastro {
  background: #2e9c8a !important;
}

.tb-anunciantes tr td {
  vertical-align: middle;
}

@media screen and (max-width: 991px){
  .nav-end {
    margin-top: 30px;
  }
  .btn-reserva-fix {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    border-radius: 0 !important;
  }

  .nav-end .btn {
    width: 100%;
    margin-top: 6px;
  }

  .btn-reserva-bottom {
    display: none !important;
  }

  .disabled {
    opacity: 0 !important;
    transition: opacity .3s;
  }  
  .navbar-user-name {
    background: none;
  }
}


.text-primary {
  color: #16cfb0 !important;
}

.jumbotron {
  color: rgb(160, 160, 160)
}

.menu{
  float: right;
  margin-top: 25px;
}

.menu ul{
display: inline-block;
padding-top: 10px;
}

.menu ul li{
  display: inline;
  padding-right: 20px;
  color: #fff;
  text-align: center;
}

.btn {
  background-color: #f2bd2e;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  color: white !important;
}

.btn-sair {
  background: #f22e4f
}

.btn-reservar {
  background: #16cfb0;
}

.btn-reservar:hover {
  background: #199984;
  color: white;
}

.disabled {
  opacity: .6;
  pointer-events: none;
}

.txt_cadastrar {
  cursor: pointer;
  color: black;
}

.btn-primary{
  background-color: #f2bd2e !important;
  border: none;
}

.logo{
  float: left;
  margin-top: 15px;
}


.corpo_anuncio h1{
  padding-top: 50px;
  color: #565656;
}

.corpo_anuncio p{
  font-weight: 300;
  line-height: 10px;
  color: #565656;
}

.fundo_miniatura{
  width: 100%;
  position: relative;
  border-radius: 10px;
  margin: 30px 15px 0px 0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fundo_miniatura img{
  width: 80px;
  height: 80px;
  position: relative;
  float: left;
  background-color: #f1f1f1;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px; 
  margin-top: 10px;
}

.corpo_imagens img{
  width: 100%;
  height: 450px;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  background-size:100% 100%;
  position: relative;
  border-radius: 10px;
  overflow:hidden;
}

@media(max-width: 990px){
  .corpo_imagens img{
    height: 350px;
  }
}

@media(max-width: 768px){
  .corpo_imagens img{
    height: 250px;
  }
}

@media(max-width: 575px){
  .corpo_imagens img{
    height: 200px;
    margin-left: 10px;
  }
}

.corpo_preco{
  width: 100%;
  height: 80px;
  position: relative;
  background-color: #f2bd2e;
  border-radius: 10px;
}

.corpo_preco h2{
  color: #fff;
  padding-top: 20px;
  padding-left: 15px;
}

.corpo_anunciante{
  
  height: auto;
  background-color: #f1f1f1;
  position: relative;
  border-radius: 10px;
  padding: 20px 15px;
  margin-top: 10px;
}

.corpo_anunciante p{
  color: #565656;
  line-height: 5px;
}

#containerBancos div {
  transition: opacity .5s;
}

/* descricao */
.linha{
  width: 100%;
  height: 1px;
  background-color: #c6c6c6;
  position: relative;
}

.descricao{
  width: 100%;
  height: auto;
  padding: 30px 0px;
  position: relative;
}

.descricao h2{
  margin-top: 30px;
}

.descricao p {
  padding-bottom: 50px;
  word-break: break-all;
}


/* NÚMEROS */

.numeros{
width: 100%;
height: auto;
padding-bottom: 30px;
}

@media (max-width: 375px) {
  .numeros .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .numeros [class|="col"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.full-imagem-rifa {
  height: 500px;
  background-size: cover;
  background-position: center center;
}

.img_miniatura {
  width: 90px;
  height: 90px;
  background-size: 150px;
  background-position: center center;
  cursor: pointer;
  margin: 2px;
  filter: brightness(.6);
  transition: .3s filter;
}

.img_miniatura:hover {
  filter: brightness(1)
}

.detalhes-bilhete .col span{
  font-size: 30px;
}

.detalhes-bilhete .col:nth-child(2){
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.hide {
  display: none !important;
}

.numeros .container .linha{
  margin-top: 30px;
}
.números p{
  font-weight: 300;
  line-height: 10px;
  color: #565656;
}

.btn_numero,
.numero-demo{
  background-color: #fff;
  border: solid 2px #16cfb0;
  color: #16cfb0;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 20pt;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  transition: .1s;
}

.ganhador-container-thumb {
  width: 100%;
  height: 100%;
  background: #16cfb0b2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.616);
}

.thumbnail-link {
  text-decoration: none !important;
  color: white !important;
}

.numero-demo {
  font-size: 15px !important;
  border-radius: 0 !important;
}

.btn_numero:hover
  :not(.sold)
  :not(.reserved) {
  background-color: #16cfb0;
  color: #fff;
}

.btn_numero_active {
  background-color: #16cfb0;
  color: #fff;
}

.reserved{
  background-color: #f0f0f0;
  border: solid 2px #565656;
  color: #565656;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 20pt;
  cursor: default;
}

.sold {
  background-color: #e0a830;
  border: solid 2px #806324;
  color: #806324;
  text-align: center;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 20pt;
  cursor: default;
}

/* RECOMENDA */

.box_anuncios{
  width: 100%;
  padding: 10px 0px;
  position: relative;
  border-radius: 10px;

}

.badge-yellow {
  background: rgb(202, 166, 47);
}

.img_recomenda{
  text-align: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  background-color: #f6f6f6;
  margin: 0 auto;
  padding: 10px;
}

.descricao_recomenda{
  text-align: center;
}



/* FOOTER */
.footer{
  background-color:#16cfb0;
  margin-top: 30px;
  padding: 80px 0px;
}

.footer p{
  text-align: center;
  color: #fff;
}

.redes{
  width: 200px;
  height: 50px;
  margin:0 auto;
  position: relative;
}

.icon{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#containerImagens {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rifa-thumbnail {
  width: 150px;
  height: 150px;
  border: 1px dotted #999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #999;
  margin: 3px;
  cursor: pointer;
  transition: color .5s, border-color .5s;
  background-size: cover;
  background-position: center center;
}

.rifa-thumbnail:hover {
  color: black;
  border-color: black;;
}

input.hide {
  display: none;
}

.tooltip.top {
  padding: 5px 0 !important;
  margin-top: 10px !important;
}

.user-rifa-thumb {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center center;
}

.link-social {
  color: gray;
  font-size: 30px;
  margin-right: 10px;
}

.link-social:hover {
  text-decoration: none;
}